<h3>Books</h3>

<form action="" method="get">
    <label for="">
        <input type="text" name="title" id="" value="">
        <button>Submit</button>
    </label>
</form>

<h2>List of Books</h2>
{{#each book}}
<img src={{trimString cover.0.path}} alt="" >
{{/each}}