<h2>New Author</h2>

<form action="/authors" method="post" enctype="application/x-www-form-urlencoded">
{{>_form}}
<a href="/authors/new">Cancel</a>
<button type="submit">Create</button>
{{error}}
</form>